h1{
    color : red;
    font-family: verdana;
    font-size: 300%;
    }
    
    p{
    color : blue;
    font-family: times;
    font-size: 150%;
    }

    h3{
        color : blue;
        font-family: verdana;
        font-size: 150%;
        }

        h4{
            color : red;
            font-family: verdana;
            font-size: 70%;
            }